body {
    text-align: center;
    background-image: url("../img/background.jpg");

    background-size: 1500px;
}
@font-face {
    font-family: Ethnocentric;
    src: url('../fonte/ethnocentricRg.otf');
    src: url('../fonte/ethnocentricRgIt.otf');
}
  @font-face {
    font-family: ACME Font;
    src: url('../fonte/Silkscreen-Bold.ttf');
    src: url('../fonte/Silkscreen-Regular.ttf');
  }
h1 {
    color: blueviolet;
    font-size: 43px;
    font-family: ACME Font;
}
.pc {
    font-size: 31px;
    color: beige;
}
.lista h2 {
    color: cornsilk;
    font-family: Ethnocentric;
}

p {
    color: white;
}
td {
    padding: 0px 25px;
    width: 130px;
    background: darkgray;
    height: 27px;
}
table {
    border: 1px solid black;
    display: inline-grid;
}
.mesas p {
    font-size: 40px;
}
.produtos p {
    display: contents;
    font-size: 20px;
}

.produtos ,.todasAsMesas, .comandar, .extrato{
    display: none;
}
li{
    display: inline-block;
    margin-left: 16px;
    cursor: pointer;
}

li:hover{
    background-color: dimgray;
    opacity: 0.6;
}
.todasAsMesas button {
    margin: 20px 20px;
    height: 45px;
    width: 45px;
}
.todasAsMesas h3, .comandar h3 {
    color: white;
}
.todasAsMesas p {
    color: white;
    font-size: 20px;
    font-family: cursive;
}
.fecharMesa {
    background: red;
    font-size: 20px;

}
#consultar {
    color: crimson;
    margin-top: -20px;
    font-size: 28px;
}
.buttonMesa {
    width: 30px;
}
.extrato h3 {
    color: burlywood;
    font-size: 30px;
}