body {
    text-align: center;
    background-image: url(background.webp);
}
h1 {
    color: darkblue;
    font-family: cursive;
}
h2 {
    color: cornflowerblue;
}
p {
    color: white;
}
td {
    padding: 0 25px;
    background: darkgray;
}
table {
    border: 1px solid black;
    display: inline-grid;
}
.mesas p {
    font-size: 40px;
}
.produtos p {
    display: contents;
    font-size: 20px;
}

.produtos ,.todasAsMesas, .comandar{
    display: none;
}
.produtos li, .todasAsMesas li , .comandar li{
    display: inline-block;
    margin-left: 16px;
    cursor: pointer;
}

.produtos li:hover,.todasAsMesas li:hover , .comandar li:hover{
    background-color: dimgray;
    opacity: 0.6;
}
.todasAsMesas button {
    margin: 20px 20px;
    height: 45px;
    width: 45px;
}
.todasAsMesas h3, .comandar h3 {
    color: white;
}
.todasAsMesas p {
    color: white;
    font-size: 20px;
    font-family: cursive;
}
#consultar {
    color: crimson;
    margin-top: -20px;
    font-size: 28px;
}
.buttonMesa {
    width: 30px;
}
